<%- include('ar_parts/ar_header') %>
<%- include('ar_parts/ar_navbar') %>

<div class="container">
  <h4 style="color: goldenrod;">الرماني للتسوق</h4>
  <h4 style="color: goldenrod;">للطلبات</h4>
    <p>01552125469</p>
    <p>01280733980</p>
</div>

<%- include('ar_parts/ar_footer')%>



