<form class="filter" action="/" method="GET">
    <div class="row">
        <div class="col col-md-10">
        <select name="category" class="form-control">
            <option value="all">جميع المنتجات</option>
            <option value="Perfumes">عطور</option>
            <option value="clothes">ملابس</option>
            <option value="Antiseptics">مطهرات</option>
            <option value="Foods">اغذية</option>
            <option value="Glasses">نظارات شمسيه</option>
            <option value="Beauty">تجميل</option>
            <option value="Slimming">تخسيس</option>
        </select>
        </div>
        <div class="col col-md-2">
            <input type="submit" class="btn btn-outline-primary" value="بحث">
        </div>
    </div>
</form>
