
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
<!-- Footer -->

<div class="container">
<footer class="page-footer position-absolute font-small blue pt-5">
    <!-- Footer Links -->
    <div class="container-fluid text-md-right">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mb-4">
          <!-- Content -->
          <h5 class="text-uppercase" style="color: goldenrod;">الروماني للتسوق</h5>
          <p>افضل المنتجات بأرخص الاسعار</p>

        <!--Google map-->
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: auto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.388659714323!2d30.981383314770138!3d30.054391981878677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDAzJzE1LjgiTiAzMMKwNTknMDAuOSJF!5e0!3m2!1sen!2sus!4v1595679581118!5m2!1sen!2sus"
             width="auto" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>        </div>
        <!--Google Maps-->
        </div>
        <div class="col-md-2 mb-md-0 mb-2">
          <!-- Links -->
          <h5 class="text-uppercase"  style="color: goldenrod;">البحث الشائع</h5>
          <ul class="list-unstyled ">
            <li><a href="#!">تخسيس</a></li>
            <li><a href="#!">الكترونيات</a></li>
            <li><a href="#!">تليفزيونات</a></li>
            <li><a href="#!">ساعات</a></li>
            <li><a href="#!">نظارات شمسية</a></li>
            <li><a href="#!">عطور</a></li>
            <li><a href="#!">مطهرات</a></li>
            <li><a href="#!">تجميل</a></li>
          </ul>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-2">
          <!-- Links -->
          <h5 class="text-uppercase" style="color: goldenrod;">حسابي</h5>
          <ul class="list-unstyled">
            <li><a href="/ar_login">التسجيل / الدخول</a>
            <li><a href="#!">العربة</a></li>
            <li><a href="/ar_order">طلباتي</a></li>
            <li><a href="#!">امنياتي</a></li>
          </ul>
            <!-- Links -->
          <h5 class="text-uppercase" style="color: goldenrod;">الاعمال</h5>
          <ul class="list-unstyled">
            <li><a href="#!">الماركات </a></li>
            <li><a href="#!">الشركاء</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
          <h5 class="text-uppercase" style="color: goldenrod;">البيع علي الروماني</h5>
          <ul class="list-unstyled">
            <li><a href="#!">شاركنا</a></li>
            <li><a href="#!">كيفية العمل</a></li>
            <li><a href="#!">طريقة البيع</a></li>
            <li><a href="#!">القواعد و الشروط</a></li>
          </ul>
          <h5 class="text-uppercase" style="color: goldenrod;">الشراء من الروماني</h5>
          <ul class="list-unstyled">
              <li><a href="#!">كيفية الشراء</a></li>
              <li><a href="#!">شروط الارتجاع</a></li>
              <li><a href="#!">المساعده</a></li>
          </ul>
    </div>
    
    <div class="footer-copyright text-center py-3">
      <a style="text-decoration: none;" href="https://elromanystore.herokuapp.com/">elromanystore.com</a>
    </div>
  </footer>
</div>
</html>

